@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@500;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Figtree', sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  padding: 20px 40px;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 10px;
}

.logo {
  text-decoration: none;
  color: red;
}

/* Mobile (up to ~768px wide) */
@media (max-width: 768px) {

  header .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

}
